<div class="container">
  <h1>Note #<%= @note.id %></h1>
  <div class="notebutton">
    <form id="edit" action="/edit/<%= @note.id %>" method="get">
      <input class="sub_button" type="submit" value="edit">
    </form>
      <form id="delete" action="/delete/<%= @note.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input class="sub_button" type="submit" value="delete">
    </form>
</div>
  <dl>
    <dt><%= @note.title %></dt>
      <dd><%= @note.content %></dd>
  </dl>
</div>
